In [1]:
#####functions in python
def test():
    pass ## it does nothing at all

In [2]:
type(test())

NoneType

In [3]:
def test(): ## mandatory function should return something else give pass otherwise we will get an error

SyntaxError: incomplete input (2690612609.py, line 2)

In [4]:
def add():
    a = 1
    b = 2
    print(a+b)

In [5]:
add()

3

In [6]:
def add(a,b):
    print(a+b)

In [7]:
add(2,3)

5

In [8]:
add(2.5,3)

5.5

In [9]:
add(2.5,3.567)

6.067

In [10]:
add(2,"anand")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
"2" + "anand"

'2anand'

In [12]:
add("2","anand")

2anand

In [13]:
type(print("xyz"))

xyz

NoneType

In [14]:
def add(a,b):
    return str(a)+str(b)

In [15]:
add(3,4)

'34'

In [16]:
add(3,"Virat Kohli")

'3Virat Kohli'

In [17]:
def add(a,b):
    a = 1
    b = 2
    print(a+b)

In [18]:
add(5,6)

3

In [19]:
def add(a,b):
    print(a+b)

In [20]:
add(5,6)

11

In [42]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c

In [22]:
c=10
add(5,6) + c

13

In [43]:
c=10
add(5,6) + c

16

In [39]:
def add(a,b,c):
    a=1
    b=2
    c=3
    return a+b+c,a+b,a+b*c ##multiple return statement is allowed

In [40]:
add(2,3)

TypeError: add() missing 1 required positional argument: 'c'

In [28]:
 add(1,3)

(6, 3, 7)

In [29]:
type(add(1,3))

tuple

In [38]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [31]:
add(6,5)+c

TypeError: can only concatenate tuple (not "int") to tuple

In [32]:
c=5
c=1
def add(a,b):
    a=1
    b=2
    c=4
    return a+b+c

In [34]:
add(2,3)

7

In [35]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [41]:
def my_func():
	x = 10
	print("Value inside function:",x)

x = 20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [51]:
def abc(a,b,c):
    return a+b+c, a*b*c, a+b*c

In [52]:
abc(2,3,4)

(9, 24, 14)

In [53]:
def test():
    return "Sudhanshu" ,[4,5,6,7],{'a':5,'b':6}

In [54]:
test()

('Sudhanshu', [4, 5, 6, 7], {'a': 5, 'b': 6})

In [55]:
int(4.567)

4

In [56]:
float(3)

3.0

In [57]:
str(3)

'3'

In [58]:
### create a list of all the employess with different name say 5 (from user using input)
### create a uyser defined function which returns the largest member(whoese length is more) from a list

In [62]:
def add(a,b,c=2):
    c = 1
    return a+b+c

In [60]:
add(2,3)

7

In [61]:
add(2,3,4)

9

In [63]:
add(2,3,4)

6

In [65]:
test_list = ['anand', 'harsh', 'manisha', 'aishwarya', 'hanuman']

In [66]:
test_list

['anand', 'harsh', 'manisha', 'aishwarya', 'hanuman']

In [69]:
max_len = 1
for ele in test_list:
	if len(ele) > max_len:
		max_len = len(ele)
		res = ele

print("Maximum length string is : " + res)

Maximum length string is : aishwarya

In [84]:
def biglen():
    li=[]
    res=0
    for i in range(5):
        li.append(input('enter a name: '))
        if len(li[i])>res:
            res=len(li[i])
            temp=li[i]
    return temp

In [85]:
biglen()

enter a name:  AnandJha
enter a name:  Priyanka
enter a name:  Karishma
enter a name:  Ravi
enter a name:  Bhusan

'AnandJha'

In [72]:
emp_list = []
def emp_list_func():
    for i in range(5):
        emp_name = input("Enter Employee Name")
        test_list.append(emp_name)

In [73]:
emp_list_func()

Enter Employee Name AnandJha
Enter Employee Name Hanuman
Enter Employee Name Aishwarya
Enter Employee Name Hanuman
Enter Employee Name Rahul

In [86]:
#########LAMBDA FUNCTION ############################################

In [87]:
#### its a one line function which can take any number of arguments but only one expression,which is evaluated and returned
### its an anonoymous function i.e without a name
### lambda kleyword is used to define it
## no def keyword is used
## one is free to use lambda funcctions wherever funcxtions object are required
## You need to keep in your knowledge that lambda function are syntactically restricted to a single expression
## the lambda operator => separates the input parameters on the left side from the lambda body on the right side

In [88]:
z = lambda a,b,c:a*b/c

In [89]:
z(8,9,3)

24.0

In [90]:
z(8,9)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [93]:
cube = lambda x : x**3

In [94]:
cube(7)

343

In [95]:
### craete an empty list
## ask the user 5 times to input any number 
## use lambda function to test for odd and even and pass that number4 to another list calling odd /even

In [96]:
Check_No= lambda mylist[i]: if mylist[i]%2==0 print("Even") else ("Odd")

SyntaxError: invalid syntax (1296789662.py, line 1)

In [100]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"
print(odd_even())

Enter a number >>  24

Even Number

In [101]:
################################filter function##########################################

In [ ]:
list_test = (4,5,6,7,8,6,7,8,8)

In [ ]:
a = list(filter(lambda x:x%2==0,list_test))
b = list(filter(lambda x:x%2!=0,list_test))

In [ ]:
a,b

In [106]:
def even_check(n):
    if n%2==0:
        return True

In [107]:
list(filter(even_check,list_test))

[4, 6, 8, 6, 8, 8]

In [108]:
z = lambda a,b,c:a**2+b*3+c

In [109]:
z(5,6,7)

50

In [110]:
from functools import reduce

In [111]:
test = [4,5,6,7,8,9]
reduce(lambda x,y:x+y,test)

39

In [112]:
test = [4,5,6,7,8,9]
reduce(lambda x,y:x/y,test)

0.0002645502645502645

In [ ]:
test = [4,5,6,7,8,9,10,11] ##only 2 arguments are allowed...
reduce(lambda x,y:x+y,test)

In [ ]:
get_cwd()