In [1]:
import numpy as np
import pandas as pd

pd.date_range(
    start=None,
    end=None,
    periods=None,
    freq=None,
    tz=None,
    normalize: 'bool' = False,
    name: 'Hashable' = None,
    closed: "Literal['left', 'right'] | None | lib.NoDefault" = <no_default>,
    inclusive: 'IntervalClosedType | None' = None,
    **kwargs,
) -> 'DatetimeIndex

In [2]:
dates = pd.date_range("20130101", periods=6)

In [3]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
per1 = pd.date_range(start ='1-1-2018', 
         end ='1-05-2018', freq ='5H')
  
for val in per1:
    print(val)

2018-01-01 00:00:00
2018-01-01 05:00:00
2018-01-01 10:00:00
2018-01-01 15:00:00
2018-01-01 20:00:00
2018-01-02 01:00:00
2018-01-02 06:00:00
2018-01-02 11:00:00
2018-01-02 16:00:00
2018-01-02 21:00:00
2018-01-03 02:00:00
2018-01-03 07:00:00
2018-01-03 12:00:00
2018-01-03 17:00:00
2018-01-03 22:00:00
2018-01-04 03:00:00
2018-01-04 08:00:00
2018-01-04 13:00:00
2018-01-04 18:00:00
2018-01-04 23:00:00

In [7]:
dRan1 = pd.date_range(start ='1-1-2018',
           end ='8-01-2018', freq ='M')
  
dRan2 = pd.date_range(start ='1-1-2018', 
         end ='11-01-2018', freq ='3M')
  
print(dRan1, '\n\n', dRan2)

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31'],
              dtype='datetime64[ns]', freq='M')

 DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='3M')

In [14]:
# Specify start and periods, the number of periods (days).
dRan1 = pd.date_range(start ='26-11-2018', periods = 13)
  
# Specify end and periods, the number of periods (days).
dRan2 = pd.date_range(end ='11-26-2018', periods = 13)
  
# Specify start, end, and periods; the frequency 
# is generated automatically (linearly spaced).
dRan3 = pd.date_range(start ='03-01-2017', 
            end ='04-12-2018', periods = 13)
  
print(dRan1, "\n\n", dRan2, '\n\n', dRan3)

DatetimeIndex(['2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29',
               '2018-11-30', '2018-12-01', '2018-12-02', '2018-12-03',
               '2018-12-04', '2018-12-05', '2018-12-06', '2018-12-07',
               '2018-12-08'],
              dtype='datetime64[ns]', freq='D')

 DatetimeIndex(['2018-11-14', '2018-11-15', '2018-11-16', '2018-11-17',
               '2018-11-18', '2018-11-19', '2018-11-20', '2018-11-21',
               '2018-11-22', '2018-11-23', '2018-11-24', '2018-11-25',
               '2018-11-26'],
              dtype='datetime64[ns]', freq='D')

 DatetimeIndex(['2017-03-01 00:00:00', '2017-04-03 22:00:00',
               '2017-05-07 20:00:00', '2017-06-10 18:00:00',
               '2017-07-14 16:00:00', '2017-08-17 14:00:00',
               '2017-09-20 12:00:00', '2017-10-24 10:00:00',
               '2017-11-27 08:00:00', '2017-12-31 06:00:00',
               '2018-02-03 04:00:00', '2018-03-09 02:00:00',
               '2018-04-12 00:00:00'],
              dtype='datetime64[ns]', freq=None)

/tmp/ipykernel_76/3526469031.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dRan1 = pd.date_range(start ='26-11-2018', periods = 13)

In [9]:
dRan2 = pd.date_range(end ='', periods = 13)

ValueError: Neither `start` nor `end` can be NaT

In [10]:
# Specify start and periods, the number of periods (days).
dRan1 = pd.date_range(start ='1-1-2018', 
       periods = 13, tz ='Asia / Tokyo')
  
dRan1

UnknownTimeZoneError: 'Asia / Tokyo'

In [15]:
pd.date_range(start='2017-01-01', end='2017-01-04', inclusive='right')

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')

In [16]:
pd.date_range(start='2017-01-01', end='2017-01-04', inclusive='left')

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(start='2017-01-01', end='2017-01-04', inclusive="both")

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')

In [18]:
pd.date_range(start='2017-01-01', end='2017-01-04', inclusive="neither")

DatetimeIndex(['2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq='D')

In [19]:
import datetime

dti = pd.to_datetime(["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018, 1, 1)])

In [22]:
datetime.datetime(2018, 1, 1)

datetime.datetime(2018, 1, 1, 0, 0)

In [20]:
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [23]:
dti = pd.date_range("2018-01-01", periods=3, freq="H")

In [24]:
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [28]:
dti = dti.tz_localize("UTC")

In [30]:
dti

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [31]:
dtUS = dti.tz_convert("US/Pacific")

In [32]:
dtUS

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

In [34]:
df = pd.DataFrame(
    {"year": [2015, 2016], "month": [2, 3], "day": [4, 5], "hour": [2, 3]}
)
df

   year  month  day  hour
0  2015      2    4     2
1  2016      3    5     3

In [35]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [36]:
pd.to_datetime("2010/11/12", format="%Y/%m/%d")

Timestamp('2010-11-12 00:00:00')

In [42]:
pd.to_datetime("15/12/2022", format="%d/%m/%Y")

Timestamp('2022-12-15 00:00:00')

In [39]:
pd.to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

Timestamp('2010-11-12 00:00:00')

In [40]:
pd.to_datetime([1, 2, 3], unit="D", origin=pd.Timestamp("1960-01-01"))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [43]:
dates = [
    datetime.datetime(2012, 5, 1),
    datetime.datetime(2012, 5, 2),
    datetime.datetime(2012, 5, 3),
]


# Note the frequency information
index = pd.DatetimeIndex(dates)

In [44]:
dates

[datetime.datetime(2012, 5, 1, 0, 0),
 datetime.datetime(2012, 5, 2, 0, 0),
 datetime.datetime(2012, 5, 3, 0, 0)]

In [45]:
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [46]:
start = datetime.datetime(2011, 1, 1)

end = datetime.datetime(2012, 1, 1)

index = pd.date_range(start, end)

index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [47]:
s = pd.Series(pd.date_range("2012-1-1", periods=3, freq="D"))

td = pd.Series([pd.Timedelta(days=i) for i in range(3)])

df = pd.DataFrame({"A": s, "B": td})

df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

In [48]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

In [49]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using [[]] returns a DataFrame.

In [50]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

In [51]:
df.loc['cobra', 'shield']

2

Slice with labels for row and single label for column. 

As mentioned above, note that both the start and stop of the slice are included.

In [52]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

In [55]:
df.loc[[False, True, False]]

       max_speed  shield
viper          4       5

In [56]:
df.loc[pd.Series([False, True, False],
       index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [58]:
df.loc[pd.Index(["cobra", "viper"], name="snake")]

       max_speed  shield
snake
cobra          1       2
viper          4       5

Conditional that returns a boolean Series with column labels specified

In [62]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [70]:
df.loc[df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [71]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50

In [72]:
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [73]:
df.loc['cobra'] = 10

In [74]:
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [75]:
df.loc[:, 'max_speed'] = 30

In [76]:
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [77]:
df.loc[df['shield'] > 35] = 0

In [78]:
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [79]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=[7, 8, 9], columns=['max_speed', 'shield'])

In [80]:
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [81]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [97]:
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]

df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [84]:
df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [85]:
df.loc[('cobra', 'mark ii')] #3returns a series

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [86]:
df.loc['cobra', 'mark i'] #3returns a series

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [87]:
df.loc[[('cobra', 'mark ii')]] ## returns a dataframe

               max_speed  shield
cobra mark ii          0       4

In [88]:
df.loc[('cobra', 'mark i'), 'shield']

2

In [91]:
df.loc[('sidewinder', 'mark ii'):'viper']

                     max_speed  shield
sidewinder mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [92]:
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

In [98]:
df.loc[('cobra', 'mark ii'), 'max_speed'] = 3
df.loc[('viper', 'mark ii'), 'max_speed'] = 12

In [99]:
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           3       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii          12       1
           mark iii         16      36

In [100]:
df['frequency'] = df['max_speed']*df['shield']

In [101]:
df

                     max_speed  shield  frequency
cobra      mark i           12       2         24
           mark ii           3       4         12
sidewinder mark i           10      20        200
           mark ii           1       4          4
viper      mark ii          12       1         12
           mark iii         16      36        576

In [102]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [111]:
df.iloc[1]

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [106]:
type(df.iloc[0])

pandas.core.series.Series

In [113]:
df.iloc[[1]]

     a    b    c    d
1  100  200  300  400

In [114]:
type(df.iloc[[1]])

pandas.core.frame.DataFrame

In [120]:
df.iloc[[0,2]] ## specify the index to get the data

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [122]:
df.iloc[:2]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [123]:
df.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [124]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [125]:
df.iloc[lambda x: x.index % 2 != 0]

     a    b    c    d
1  100  200  300  400

In [126]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [127]:
df.iloc[1:3, 0:3] #3 ending is not included

      a     b     c
1   100   200   300
2  1000  2000  3000

In [130]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [132]:
df.iloc[:,[0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [133]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [139]:
df.iloc[[1],[2]]

     c
1  300

In [144]:
df.iloc[0:3, 0:4]>=2000

       a      b      c      d
0  False  False  False  False
1  False  False  False  False
2  False   True   True   True

In [151]:
df[df.iloc[:,:]>=2000]

    a       b       c       d
0 NaN     NaN     NaN     NaN
1 NaN     NaN     NaN     NaN
2 NaN  2000.0  3000.0  4000.0

In [155]:
df.iloc[[df >= 2000]]

IndexError: Boolean index has wrong length: 1 instead of 3

In [156]:
df.loc[lambda x : x >=2000]

ValueError: Cannot index with multidimensional key

In [157]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [159]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]

index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))

df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [160]:
df.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [161]:
df.groupby(level="Type").mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

In [162]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])

In [163]:
df

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [164]:
df.groupby(by=["b"]).sum()

     a  c
b
1.0  2  3
2.0  2  5

In [169]:
df.groupby(by=["b"], dropna=False).sum()

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4

In [166]:
df

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [170]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [171]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [172]:
df.groupby("Animal", group_keys=True).apply(lambda x: x)

          Animal  Max Speed
Animal
Falcon 0  Falcon      380.0
       1  Falcon      370.0
Parrot 2  Parrot       24.0
       3  Parrot       26.0